<form action="controller/add_client.php" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Seu nome:</label>
    <input type="text" class="form-control"  placeholder="Seu nome" name="client_name"required>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Seu CPF:</label>
    <input type="text" class="form-control" placeholder="Digite seu CPF" name="client_cpf" required>
  </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1">Seu Telefone:</label>
    <input type="text" class="form-control" placeholder="Numero do Telefone" name="client_phone" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Seu Celular:</label>
    <input type="text" class="form-control"  placeholder="Número do Celular" name="client_cellphone" required>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Endereço:</label>
    <input type="text" class="form-control" placeholder="Seu Endereço" name="client_address" required>
  </div>

   <button type="submit" class="btn btn-info btn-block">
    <i class="glyphicon glyphicon-plus"></i>
    Adicionar Cliente
  </button>