<form action="controller/login.php" method="POST"> 
  <div class="form-group">
    <label for="exampleInputEmail1">Seu Email</label>
    <input type="email" class="form-control" placeholder="Seu Email" name="user_email">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Sua Senha</label>
    <input type="password" class="form-control" placeholder="Sua Senha" name="user_password">
   </div>
   <button type="submit" class="form-control btn btn-primary"> <i class="glyphicon glyphicon-ok"></i>  Entrar </button>
</form>